.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.header__logo {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 15px;
}

.header__icon {
  font-size: 30px;
  color: rgb(255, 102, 0);
  padding: 0% 6% 0% 6%;
}

.start {
  height: 100vh;
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-branding {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
}

.logo {
  max-width: 50%;
  width: 100%;
}

.button {
  background-image: linear-gradient(red, rgb(255, 217, 0));
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.home-page {
  height: 100vh;
}

.user-img {
  width: 100%;
  height: 390px;
  overflow: hidden !important;
}

.img-info {
  display: flex;
  flex-direction: row;
  max-height: 40px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

}

.profile-pic {
  max-width: 40px !important;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.username {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgb(63, 63, 63);
  padding-left: 10px;
  margin: 0% !important;
}

.input-tag {
  position: absolute;
  top: 320px;
  left: 80px;
  height: 30px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.63);
  border: 2px solid rgb(194, 88, 1);
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  
}



